.grid-space {
  height: 100%;
   width: 100%;
   padding:5%;
   text-align: center;
   background-color: #247902;
   border-radius: 25px;
   border: 5px solid black;
}

.row {
  height: 20%;
  width: 100%;
}
.col{
  margin:0%;
  padding:0%
}
.container{
  height: 100vh;
}

.grid-content{
  height:100%;
  width:100%;
  background-color: white;
}

.playerTwoColor {
  background-color: #64CFE8;
}

.playerOneColor {
  background-color: #6AC494;
}

.computerColor {
  background-color: grey;
}

.boardGame{
  display: none;
}

.panel-body {
  text-align: center;
  margin-top: 500px;
  background-color: green;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  margin-top: 20%;
  margin-left: 43%;
  border-radius: 25px;

}

img {
  margin-top: 15%;
  weight: 150px;
  height: 150px;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}
